/* your custom css */

blockquote {
    background-color: #8ed6fb;
    border-left: 8px solid #1c78c0;
    padding: 15px 30px 15px 15px;
}

.support-img {
    opacity: 0.4;
    margin: 20px;
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: 0.3s;
}

.support-img:hover {
    opacity: 1;
}

.download-button {
    display: inline-block;
    height: 40px;
    background: #4E9CAF;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
}

.download-button:hover {
    opacity: 1;
    color: white;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
